*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.head_div{
    width: 80%;
    margin: auto;
}
.myheader{

    width: 100%;
    height: 20vh;
    background: #000;
    position: fixed;
    top: 0;
    z-index: 10001;
}
.myheader h2{
    color: red;
    float:left;
    font-style: italic;
    font-size: 40px;
    padding: 50px 0;

}
ul{
    position: relative;
    padding:  50px 0;
    float: right;
}
ul li{
    display: inline-block;

}
ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 28px;
    padding-right: 20px;
}
ul li a:hover{
    color: #ccc;
}
.myheader h2:hover{
    color: #b14646;
}

.banner{
    position: relative;
    top: 20vh;
    width: 100%;
    height: 80vh;
    background-image: url('img/banner.jpg');
    background-size: cover;
}

.intro_text{
    position: absolute;
    top: 40%;
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    width: 80%;
    margin: auto;

}
.intro_text h1{
    color: #fff;
    font-size: 35px;
    margin: 15px 0px;
}
.intro_text a
{
    border: 2px #fff solid;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}
.magna{
    position: relative;
    top: 30vh;
}
.mel
{
    background-color: white;
    width: 80%;
    margin: auto;
}
.mel h2
{
    color: #a7000a;
    padding: 10px 0px;
    font-size: 30px;
    margin: 30px 0px;
}
.mel p
{
    margin-bottom: 40px;
    line-height: 25px;
}
.mel a,.threecards a{

    text-decoration: none;
    text-transform: uppercase;
    color: #a7000a;
    border: 2px solid #a7000a;
    padding: 10px;
}
.cards
{
    position: relative;
    top: 30vh;
    width: 100%;
    margin: 75px 0px;
    background: #cccccc;
}

.wid{

    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.morbi
{
    width: 50%;
    box-sizing: border-box;
    padding: 30px 30px 0 0;
    margin-right: 50px;

}
.pelle
{
    width: 50%;
    box-sizing: border-box;
    padding: 30px 30px 0 0;
    margin-left: 50px;

}
.pelle h2,.morbi h2,.threecards h2
{
    color: #a7000a;
    margin: 20px 0;
}
.pelle p,.morbi p,.threecards p{
    margin: 20px 0;
    line-height: 20px;
}

.img1
{
    width: 100%;
    height: 40vh;
    background: url("img/pic01.jpg");
    background-size: cover;
}
.img2
{
    background: url("img/pic02.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
}
.threecards
{
    width: 33.3%;
    padding: 30px;
    box-sizing: border-box;
}
#fid
{
    width: 80%;
    position: relative;
    top: 25vh;
    margin: 100px auto;
    display: flex;

}
.threecards a,.threecards h2,.threecards p{
    margin: 30px auto;
}
.touch
{
    width: 100%;
    height: 80vh;
    position: relative;
    top:25vh;
    background-color: #a7000a;
    color: white;
}
.foot
{
    width:80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.foot h2
{
    padding: 30px 30px 0 0;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.ne{
    display: flex;
}
.first,.second
{
    width: 50%;
}
.iptext
{
    width: 90%;
    height: 35px;
    background-color: #a7000a;
    border: 1px solid #ffffff;
    color: white;
}
.foot a{
    border: 2px #fff solid;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.ne{
    margin: 30px 0;
}
.foot textarea,.foot a{
    margin-top: 30px;
}
#msg
{
    background-color: #a7000a;
    border: 1px solid #ffffff;
    color: white;
}
#sendmsg
{
    width: 150px;
}
.iptext:focus,#msg:focus
{
    border: 3px solid #ffffff;
}

.first h4,.second h4
{
    margin-bottom: 30px;
}